.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0;
}
/* 设置图片透明度 */
.form::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("./../public/loginbg.jfif");
  z-index: -1;
  opacity: .7;
}

.loginform{
  width: 320px;
  height: 400px;
  padding: 36px;
  margin-top: -200px;
  background-color: white;
}

.registerbutton{
  margin-left: 100px;
}

.registerform{
  margin-top: -200px;
  background-color: white;
  padding-right: 20px;
  padding-top: 20px;
}

/* 调节主页的3个按钮 */
#homelogin,#homeregister{
  padding-left: 100px;
  padding-right: 100px;
}
#homeregister,#homepreview{
  margin-top: 150px;
}

#homepreview{
  padding-left: 87px;
  padding-right: 87px;
}

.mainpage{
  height: 100%;
}

.newbook,.exportBook{
  margin-left: 20px;
}

.ideainput,.mbinput{
  width: 500px;
}

.ideabutton,.mbbutton{
  margin-left: 450px;
}
.idealist,.mblist{
  width: 60%;
}

.header{
  display: flex;
  justify-content: space-between;
}

.loginalert,.registeralert{
  position: absolute;
  top: 10%;
  left: 50%; 
  transform: translate(-50%,-50%);
}

.smilehover:hover{
  color: #1890FF;
  cursor: pointer;
}

/* 评论区css */
.childcomment{
  margin: 5px;
  margin-left: 20px;
}
.parentcomment{
  margin: 10px;
  width: 50%;
}

.parentusr,.childusr{
  font-weight: bold;
  margin-right: 5px;
}

.parenttime,.childtime{
  font-size:12px;
  color:rgb(134 144 156);
  margin-left: 10px;
}

.hr-edge-weak {
  border: 0;
  border-top: 1px solid #d0d0d5;
}

.parentcontent,.childcontent{
  margin-top: 5px;
  margin-bottom: 5px;
}

.likeicon{
  margin-right: 3px;
}
.likeicon:hover{
  color: #1890FF;
  cursor: pointer;
}

.parentreply,.settop{
  margin-left: 10px;
}
.parentreply:hover,.settop:hover{
  cursor: pointer;
  background:rgb(229 230 235);
}

.commentreply{
  margin: 10px;
}

.bookselector{
  margin-right: 20px;
}

/* 删除 */
.parentdelete{
  margin-left: 15px;
}
.childdelete{
  margin-left: 10px;
}
.parentdelete:hover,.childdelete:hover{
    color: #1890FF;
    cursor: pointer;
}

.switch{
  margin-left: 20px;
}
.pagination{
  text-align: center;
}

.borrowlist{
  width: 70%;
  text-align: center;
}

.carousel{
  /* text-align: center; */
  width: 25%;
}

.successTip{
  position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    padding: 2px 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: #43a047;
}